
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
}

ul {
list-style: none;
}

ul li {
padding: 5px;
background: #f4f4f4;
margin: 5px 0;
}

header {
background: #f4f4f4;
padding: 1rem;
text-align: center;
}

.container {
margin: auto;
width: 500px;
overflow: auto;
padding: 3rem 2rem;
}

#my-form {
padding: 2rem;
background: #f4f4f4;
}

#my-form label {
display: block;
}

#my-form input{
width: 100%;
padding: 8px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}

.btn {
display: block;
width: 100%;
padding: 10px 15px;
border: 0;
background: #333;
color: #fff;
border-radius: 5px;
margin: 5px 0;
}

.btn:hover {
background: #444;
}

.bg-dark {
background: #333;
color: #fff;
}
.error{
background-color: rgb(220, 21, 21);
height: 30px;
border-radius: 10px;
text-align: center;
color:white;
}

.highlight{
color: rgb(204, 97, 97);
}

#users{
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: monospace;
}

.user {
    /* width:%; */
    margin: 0px auto;
    background-color: rgba(29, 199, 214, 0.1);
    border-radius: 10px;
    padding: 5px 0px 5px 20px;
    margin: 5px;
}


.deleteBtn{
    font-size: 14px;
    background-color: rgb(199, 102, 102);
    border-radius: 10px;
    border: none;
    padding:5px;
    color: white;
    margin-top:3px;
}
.deleteBtn:hover{
    scale: 1.01;
    background-color: rgb(200, 132, 122);
    font-size: 15px;
}
